body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.box{
    position: relative;
    width: 380px;
    height: 550px;
    background: #e9ebb0;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}

.borderLine
{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right; 
    animation-delay: -1.5s; 
}

.borderLine::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right; 
    animation-delay: -4.5s; 
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}


.box form{
    position: absolute;
    inset: 5px;
    background: #1e1d1a;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #3e8e72;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 10px;
    position: relative;
    margin-top: 0.5px;
}
.box form .inputBox{
    position: relative;
    width: 289px;
    margin-top: 10px;
    display: flexbox;
    transition: .9s;
    transform-origin: bottom top;
    cursor:pointer;
}
.box form .inputBox input
{
    position: relative;
    width: 100%;
    padding: 15px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #3e8e72;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    font-weight: bolder;
    }
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 10px 0px 5px;
    pointer-events: none;
    color: #3e8e72;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box form .inputBox input:valid span,
.box form .inputBox input:focus span{
    color: antiquewhite;
    font-size: 0.75em;
    transition: translateY(-34px);

}
.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #3e8e72;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;

}
.box form .inputBox input:valid i,
.box form .inputBox input:focus i{
    height: 44px;

}
.box form .links{
display: flex;
justify-content: space-between;
}
.box form .links a{
    margin: 40px 0;
    font-size: 1em;
    color: #6db8de;
    text-decoration: none;
}
.box form .links a:hover {
    color: #38cf7e;
}
.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #3e8e72;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.box form input[type="submit"]:active
{
    opacity: 0.8;
    transform-box: 10s;
}
h1{
    align-items:self-start;
    display: flex;
    border-top: 4px;
    position: absolute;
    justify-content: center;
}
.box form .checkbox{
    color: #758187;
    cursor: pointer;
}
h5{
    color: #3e8e72;
}
h5 a:hover{
    color:#e9ebb0;
    
}
.box .inputBox ::placeholder{
color: #848474;

}